/****** link navbar main ********/

.navbar-light .navbar-nav .nav-link.link-black{
    color: #000000;
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
}

.navbar-light .navbar-nav .nav-link.link-black:hover{
    background: linear-gradient(180deg, #6DFFC6 0%, #3FD2CE 100%);
    color: #fff;    

}

/****** background sections ********/

.background-blue{
    background: linear-gradient(180deg, #6DFFC6 0%, rgba(63, 210, 206, 0.99) 61.36%);
    height: 613px;
 }

 .background-red{
    height: 690px;
    background: linear-gradient(173.37deg, #FF6C54 11.8%, #FF2B59 89.23%);
 }

 .background-red-div{
    height: 373px;
    background: linear-gradient(173.37deg, #FF6C54 11.8%, #FF2B59 89.23%);
 }

 .background-black{
    height: 333px;
    background: #233537;
}

.background-blue-card{
    background: #6DFFC6;
    border: solid #fff 2px;
}

 .size-blue{
    height: 1753px;
 }

 .size-black{
    height: 343px;
    flex-direction: column;
    justify-content: center;
 }

 .size-card-one{
    width: 373px;
    height: 372px;
 }

 .size-cell{
    height: 500px;
 }

/****** Margins ********/

.margin-one{
    margin-top: 83px;
}

.margin-two{
    margin-top: 100px;
}

.margin-nav{
    padding: 0 40px;
}

.margin-text{
    margin-top: 20px;
}

.margin-title-div{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin-title-div-two{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin_meio{
    margin-top: 50%;
}

/****** formation title ********/

.title-one{
    font-family: Roboto;
    font-size: 45px;
    color: #FFFFFF;
}

.title-two{
    font-family: Roboto;
    font-size: 23px;
    color: #3F4244;
}

.title-three{
    font-family: Roboto;
    font-size: 35px;
    color: #FFFFFF;
}

.title-four{
    font-family: Roboto;
    font-size: 35px;
    color: #3F4244;
}

.title-fiv{
    font-family: Roboto;
    font-size: 18px;
    color: #3F4244;
}

.title-sex{
    font-family: Roboto;
    font-size: 25px;
    color: #FFFFFF;
}

/****** Divs Center ********/

.center-banner-one{ 
    height: 613px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-banner-two{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

/****** button ********/

.button-new{
    width: 230px;
    height: 60px;
    background: linear-gradient(180deg, #FF6C54 0%, #FF2B59 100%);
}

/******  text  ********/

.text-button{
    font-family: Roboto;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}

.text-card{
    font-family: Roboto;
    font-size: 15px;
    color: #929BA0;
}

.text-sub-one{
    font-family: Roboto;
    font-size: 13px;
    color: #FFFFFF;
}

.text-sub-two{
    font-family: Roboto;
    font-size: 16px;
    color: #000000;
}

.text-sub-three{
    font-family: Roboto;
    font-size: 16px;
    color: #000000;
}

.text-sub-four{
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
}

.text-blue{
    font-family: Roboto;
    font-size: 13px;
    color: #10CAB7;
}


/******  cell phone  ********/

#cell-back{
    left: 200px;
    top: 55px;
}

#cell-front{
    left: 70px;
}

#phones{
    height: 450px;
}

/******  links  ********/

.text-sub-two:hover{
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
}

/******  div quote  ********/

#quote{
    height: 373px;
}

/******  div notic ********/

#size-new{
    height: 303px;
 }

.btn-outline{
    width: 173px;
    height: 53px;
    background: url(../img/Combinedbotao.png)
}

.back-blue{
    width: 100%;
    height: 600px;
}